body{
  background-image: url("../img/beach.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.jumbotron{
  text-align: center;
  background-color: transparent;
}

.picture img {
  width: 500px;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.emphasize {
  color: #ff38cf;
}
h2 {
  text-align: center;
}
.photographs img {
  width: 300px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.col-md-8 {
  margin: auto;
}
